/*
text-align:left,right,center,justify(metni iki yana da yaslar);
text-decoration-color: red;
text-decoration-style: wavy;
text-decoration-line: overline underline;
text-decoration-style: wavy;
text-indent:10px; -> metnin ilk başında paragraf boşluğu için
text-overflow: ellipsis;
text-shadow:5px 5px 2px red;
text-transform:capitalize,uppercase,lowercase;
*/